html {
	width: 100%;
	height: 100%;
	font-family: "Audiowide", sans-serif;
}
body {
	margin: 0px;
	font-family: "Audiowide", sans-serif;
}
#sivu {
	overflow: auto;
}
#nav-bar {
	height: 5%;
	width: 100%;
	margin: auto;
	background-color: #E0E0E0;
}
#banneri {
	height: 70%;
	width: 40%;
	margin: auto;
}
#navi {
	list-style-type: none;
	margin: auto;
	padding: 0px;
	display: grid;
	grid-template-columns: auto auto;
}
.ylempi-lista {
	margin: auto;
	display: grid;
	width: 20%;
	height: auto;
}
#kirjaudu {
	text-decoration: none;
	font-size: 1.5em;
	border: 2px solid black;
	border-radius: 25px;
	text-align: center;
	color: #85bb65;
}
#kirjaudu:hover {
	color: greenyellow;
}
#keskikuva {
	overflow: hidden;
	height: 30%;
	width: 100%;
	background-image: url("../kuvat/keski-seteli.jpg");
	background-repeat: round;
}
#toiminy {
	width: 100%;
	height: 100px;
	color: transparent;
}
#main-jutu {
	display: flex;
	justify-content: space-around;
	padding-top: 1%;
	font-size: 20px;
}
.myyntip {
	background-color: #E0E0E0;
	width: 30%;
	border-radius: 15px;
}
#tekstia {
	text-align: center;
}
#myyntiteksti {
	margin: 1%;
}
.myylista::marker {
	content: '$ ';
	font-size: 1.2em;
}
footer {
	display: flex;
	justify-content: space-around;
	background-color: #85bb65;
	position: absolute;
	bottom: 0%;
	width: 100%;
}
#uhkaus {
	text-align: center;
}
.maksu-taulukko {
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: 40%;
	grid-column-gap: 10px;
}
.taulukko {
	border-bottom: 1px solid gray;
}
.Halvin {
	background-color: #E0E0E0;
}
.Suositeltu {
	background-color: #C2D4B7;
}
.Kallein {
	background-color: #85bb65;
}
.otsikot {
	height: 50px;
	text-align: center;
}